﻿@model WMS.Models.WorkshopModel


@if (Model.CurrentWorkshop.Id == 0)
{
    <h2>Create Workshop</h2>
}
else
{
    <h2>Edit Workshop</h2>
}

<div class="row">
    @Html.Partial("_Message")

    <div class="col-md-12">

        @using (Html.BeginForm("Create", "Workshop", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.CurrentWorkshop.Id)
            <div class="form-group">
                <label for="hospitalname">Name</label>
                @Html.TextBoxFor(model => model.CurrentWorkshop.Name, new { @class = "form-control", placeholder = "Enter Workshop Name" })
                @Html.ValidationMessageFor(model => model.CurrentWorkshop.Name)
            </div>


            <div class="form-group">
                <label for="hospitalname">Type</label>
                @Html.TextBoxFor(model => model.CurrentWorkshop.Type, new { @class = "form-control", placeholder = "Enter Workshop Type" })
                @Html.ValidationMessageFor(model => model.CurrentWorkshop.Type)
            </div>

            <div class="form-group">
                <label for="hospitalname">Date</label>@{ 
                    Model.CurrentWorkshop.Date = DateTime.Now;
                }
                @Html.TextBoxFor(model => model.CurrentWorkshop.Date, "{0:MM/dd/yyyy}", new { @class = "form-control",
                placeholder = "Enter Workshop Date", id = "txtWorkshopdate" })
                @Html.ValidationMessageFor(model => model.CurrentWorkshop.Date)
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }


    </div>

</div>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(function () {
            var date = new Date();
            $("#txtWorkshopdate").datepicker({
                autoclose: true,
                todayHighlight: true,
                startDate: '0d',
                format:"mm/dd/yyyy"
            });
        });
    </script>
}

