﻿@model WMS.Models.WorkshopModel

<h2>Detail of the Perticular Workshop</h2>

<div class="row">
   
    <div class="col-md-6">
        <h3>Workshop Name : @Model.CurrentWorkshop.Name</h3>
    </div>
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>

                    <th>Type</th>
                    <th>Date</th>
                    <th>Participants</th>
                </tr>
            </thead>
            <tbody>
               

                <tr>
                    
                    <td>@Model.CurrentWorkshop.Type</td>
                    <td>@Model.CurrentWorkshop.Date.ToString("dd-MMM-yyyy")</td>
                    <td>
                        @{ 
                          string participants=string.Join(",",  Model.CurrentWorkshop.WorkshopParticipants.Select(work => work.Participant.Name));
                        }
                        @participants
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <a class="btn btn-primary" href="@Url.Action("Create","Workshop",new { id=Model.CurrentWorkshop.Id})">Edit</a>
        <a class="btn btn-primary" onclick="return DeleteWorkshop('@Model.CurrentWorkshop.Id');" href="javascript:void(0);">Delete</a>
    </div>
</div>

<script type="text/javascript">
    function DeleteWorkshop(id) {
        if (confirm("Are you sure you want to delete it ?")) {
            document.location.href = "/Workshop/Delete/" + id;
            return true;
        } else {
            return false;
        }
    }
</script>