﻿@model WMS.Models.WorkshopModel

<h2>List of the Workshops</h2>


<div class="row">
    @Html.Partial("_Message")
    <div class="col-md-12">
        <a class="btn btn-primary pull-right" href="@Url.Action("Create","Workshop")">Add Workshop</a>
        <br />
        <br />
    </div>
    @if (Model.Workshops != null && Model.Workshops.Count > 0)
    {
        <div class="col-md-12">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Workshops)
                    {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Type</td>
                        <td>@item.Date.ToString("dd-MMM-yyyy")</td>
                        <td>
                            <a href="@Url.Action("Detail","Workshop",new { id=item.Id})">Details</a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No Workshop Available. Please click to add workshop.</p>
    }


</div>
