﻿@model WMS.Models.ParticipantModel


@if (Model.CurrentParticipant.Id == 0)
{
    <h2>Create Participant</h2>
}
else
{
    <h2>Edit Participant</h2>
}

<div class="row">
    @Html.Partial("_Message")

    <div class="col-md-12">

        @using (Html.BeginForm("Create", "Participant", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.CurrentParticipant.Id)
            <div class="form-group">
                <label for="hospitalname">Name</label>
                @Html.TextBoxFor(model => model.CurrentParticipant.Name, new { @class = "form-control", placeholder = "Enter Participant Name" })
                @Html.ValidationMessageFor(model => model.CurrentParticipant.Name)
            </div>

            if (Model.CurrentParticipant.Id > 0)
            {
                @Html.HiddenFor(model => model.CurrentParticipant.Email)
                <div class="form-group">
                    <label for="hospitalname">Email</label>
                    @Html.TextBoxFor(model => model.CurrentParticipant.Email, new { @class = "form-control", @readOnly = true })
                </div>
            }
            else
            {
                <div class="form-group">
                    <label for="hospitalname">Email</label>
                    @Html.TextBoxFor(model => model.CurrentParticipant.Email, new { @class = "form-control", placeholder = "Enter Email" })
                    @Html.ValidationMessageFor(model => model.CurrentParticipant.Email)
                </div>
            }



            <div class="form-group">
                <label for="sel2">Workshops:</label>
                @Html.DropDownListFor(model => model.SelectedWorkshops,Model.AvailableWorkshops,
               new { @class = "form-control", multiple = "multiple" ,id="multiselectworkshops"})
                @Html.ValidationMessageFor(model => model.SelectedWorkshops)
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        }


    </div>

</div>

@section scripts
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

    <script type="text/javascript">
        $(function () {

            $("#txtWorkshopdate").datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
}

