﻿@model WMS.Models.ParticipantModel

<h2>Detail of the Perticular Participant</h2>

<div class="row">

    <div class="col-md-6">
        <h3>Participant Name : @Model.CurrentParticipant.Name</h3>
    </div>
    <div class="col-md-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>

                    <th>Email</th>
                    <th>Attended Workshops</th>
                </tr>
            </thead>
            <tbody>

                <tr>

                    <td>@Model.CurrentParticipant.Email</td>

                    <td>
                        @{
                            string workshops = string.Join(",", Model.CurrentParticipant.WorkshopParticipants.Select(work => work.Workshop.Name));
                        }
                        @workshops
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <a class="btn btn-primary" href="@Url.Action("Create","Participant",new { id=Model.CurrentParticipant.Id})">Edit</a>
        <a class="btn btn-primary" onclick="return DeleteParticipant('@Model.CurrentParticipant.Id');" href="javascript:void(0);">Delete</a>
    </div>
</div>

<script type="text/javascript">
    function DeleteParticipant(id) {
        if (confirm("Are you sure you want to delete it ?")) {
            document.location.href = "/Participant/Delete/" + id;
            return true;
        } else {
            return false;
        }
    }
</script>