﻿@model WMS.Models.ParticipantModel

<h2>List of the Participants</h2>


<div class="row">
    @Html.Partial("_Message")
    <div class="col-md-12">
        <a class="btn btn-primary pull-right" href="@Url.Action("Create","Participant")">Add Participant</a>
        <br />
        <br />
    </div>
    @if (Model.Participants != null && Model.Participants.Count > 0)
    {
        <div class="col-md-12">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                       
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Participants)
                    {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Email</td>                       
                        <td>
                            <a href="@Url.Action("Detail","Participant",new { id=item.Id})">Details</a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>No Participant Available. Please click to add Participant.</p>
    }


</div>
