﻿@model WMS.Models.BaseModel


@if (!string.IsNullOrWhiteSpace(Model.Message) && !string.IsNullOrWhiteSpace(Model.MessageType))
{
    <div class="col-md-12">

        @if (Model.MessageType.Equals("success"))
        {
        <div class="alert alert-success">
            <strong>Success!</strong> @Model.Message
        </div>
        }
        else if (Model.MessageType.Equals("info"))
        {
        <div class="alert alert-info">
            <strong>Info!</strong> @Model.Message
        </div>
        }
        else if (Model.MessageType.Equals("warning"))
        {

        <div class="alert alert-warning">
            <strong>Warning!</strong> @Model.Message
        </div>
        }
        else if (Model.MessageType.Equals("danger"))
        {

        <div class="alert alert-danger">
            <strong>Danger!</strong> @Model.Message
        </div>

        }
    </div>
}



